package views

templ Portal() {
	@Layout() {
		<div class="flex flex-col items-center justify-center gap-4">
			yay you made it to the portal
			<button hx-post="/subscribe" hx-target="body" hx-swap="outerHTML" type="button" class="bg-white px-2.5 py-1.5 w-fit text-black rounded-md">Create Subscription</button>
			<a href="/logout/google">Sign Out </a>
		</div>
	}
}
